# dependencies
node_modules/

# next.js build output
.next/
out/

# migration/export artifacts
data/

# local env files
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
